.navbar{
  background: #ff6b81;

  .logo{
  font-weight: bold;
  font-size: 30px;  
  }

  .nav-link {
  width: 90px; 
  font-weight: bold;
  text-transform: uppercase;
  }

   .chukhung{
    font-weight: bold;
    width: 90px;
   } 
  
}

